.prevent-text-over {
    width : 210px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-param-text{
   color: #403f3f;
}

.font-units {
    color : #474747;
    font-weight: 400;
    font-size: 18px;
}


.block-link {
    display: block;
}

#crouton ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    list-style: none;

}

#crouton li {
    float: left;
    margin: 0 8px;

}

#crouton a {
 background: #ebedff;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #374afb;
  position: relative;

}

#crouton li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

#crouton li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#crouton a:hover {
    background: #374afb;
    color: #fff;

}

#crouton li:not(:first-child) > a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    color: #ebedff;
    border-color: #ebedff #ebedff #ebedff transparent;
    left: -1em;

}

#crouton li:not(:first-child) > a:hover::before {
    border-color: #374afb #374afb #374afb transparent;

}

#crouton li:not(:last-child) > a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ebedff;
  right: -1em;
}

#crouton li:not(:last-child) > a:hover::after {
    border-left-color: #374afb;

}


ul.breadcrumb {
    list-style: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 12.5px;
    padding: 0;
    margin: 0;
  }
  ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #5578eb;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #343a40;
    text-decoration: underline;
  }


.text-form-default{
    font-size: 12px;
}

.kt-widget__item :hover {


}

.paragraf-text-mt-2 {
    margin-top: 10px;
}

.kt-badge.kt-badge--dot.kt-badge--lg {
    margin-bottom: 2px;
    margin-right: 2px;
}

.breadcrumb{
    text-transform:capitalize;
}
